@use './variables' as *;

.page-header {
	max-width: 1500px;
	height: 100px;
	border-radius: 0 0 $br-radius-200 $br-radius-200;

	background-color: $green-400;
	margin-inline: auto;
	// margin-top: 1rem;
	margin-bottom: 2rem;

	padding: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-family: 'Share Tech', sans-serif;
		font-weight: 400;
		letter-spacing: 2px;
        overflow: hidden;

		a {
			color: $green-600;
			text-decoration: none;
			font-size: 3rem;
		}

        $title-animation-speed: .3s;

        &:after {
            content: '';
            display: block;
            border-bottom: 5px dashed $green-600;
            // transform: scaleX(0);
            transform: translateX(-500px);
            transition: transform $title-animation-speed ease-in-out;
            transform-origin: 0% 50%;
        }
        
        &:hover:after {
            transform: translateX(0);
        }

        &:hover {
            letter-spacing: 3px;
            transition: letter-spacing $title-animation-speed ease-in-out;
        }

        &:not(:hover) {
            transition: letter-spacing $title-animation-speed ease-in-out;
        }
	}

	nav {
		display: flex;
        justify-content: space-between;
        width: 40%;

		a {
            font-family: 'M PLUS 2', sans-serif;
			font-size: $f-size-600;
			text-decoration: none;
			text-align: center;

			color: $yellow-400;
			padding: .75rem 1.5rem;
			border-radius: $br-radius-800;

			transition: all .1s ease-out;

			&:hover, &:focus {
				// background-color: $green-600;
                outline: 3px dashed $green-600;
                box-shadow: 0px 0px 10px 0px $green-600;
                background-color: $green-600;
			}
		}
	}
}