@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;700&display=swap");
.page-header {
  max-width: 1500px;
  height: 100px;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #91C788;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header h1 {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  overflow: hidden;
}
.page-header h1 a {
  color: #52734D;
  text-decoration: none;
  font-size: 3rem;
}
.page-header h1:after {
  content: "";
  display: block;
  border-bottom: 5px dashed #52734D;
  transform: translateX(-500px);
  transition: transform 0.3s ease-in-out;
  transform-origin: 0% 50%;
}
.page-header h1:hover:after {
  transform: translateX(0);
}
.page-header h1:hover {
  letter-spacing: 3px;
  transition: letter-spacing 0.3s ease-in-out;
}
.page-header h1:not(:hover) {
  transition: letter-spacing 0.3s ease-in-out;
}
.page-header nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.page-header nav a {
  font-family: "M PLUS 2", sans-serif;
  font-size: 1.75rem;
  text-decoration: none;
  text-align: center;
  color: #FEFFDE;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  transition: all 0.1s ease-out;
}
.page-header nav a:hover, .page-header nav a:focus {
  outline: 3px dashed #52734D;
  box-shadow: 0px 0px 10px 0px #52734D;
  background-color: #52734D;
}

.main-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "calculator learn learn" "calculator test test";
  gap: 2rem;
}
.main-page .cart {
  background-color: #91C788;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.125s ease-out;
}
.main-page .cart__header {
  color: #52734D;
  font-size: 2.25rem;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}
.main-page .cart:hover {
  box-shadow: 0px 0px 10px 0px #52734D;
  border: 3px dashed #52734D;
}
.main-page .cart:hover .cart__header {
  font-size: 2.5rem;
  transition: font-size 0.125s ease-out;
}
.main-page .cart:not(:hover) {
  box-shadow: none;
  border: none;
}
.main-page .cart:not(:hover) .cart__header {
  font-size: 1.75rem;
  transition: font-size 0.125s ease-out;
}
.main-page__calculator {
  grid-area: calculator;
}
.main-page__test {
  grid-area: test;
}
.main-page__learn {
  grid-area: learn;
}

.calculator {
  max-width: 800px;
  height: 100%;
  margin-inline: auto;
  padding: 1rem;
  background-color: #91C788;
  border-radius: 0.5rem;
}
.calculator__header {
  width: 60%;
  height: 3.5rem;
  padding: 0;
  overflow: hidden;
  border: 2px solid #52734D;
  border-radius: 3rem;
  margin-inline: auto;
  display: flex;
  position: relative;
}
.calculator__header input {
  display: none;
}
.calculator__header input#calculator:checked ~ label.calc {
  color: #FEFFDE;
  transition: 0.3s ease-in-out;
}
.calculator__header input#converter:checked ~ .calculator__header--tab {
  left: 50%;
  border-radius: 0 3rem 3rem 0;
}
.calculator__header input#converter:checked ~ label.converter {
  color: #FEFFDE;
  transition: 0.3s ease-in-out;
}
.calculator__header label {
  width: 50%;
  height: 100%;
  padding: 0.5rem;
  display: grid;
  place-content: center;
  font-family: "Share Tech", sans-serif;
  font-size: 2rem;
  color: #52734D;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}
.calculator__header label:hover {
  cursor: pointer;
  color: #3c5239;
  transition: color 0.1s;
}
.calculator__header--tab {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-color: #52734D;
  border-radius: 3rem 0 0 3rem;
  transition: 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #FEFFDE;
}

main {
  width: 1500px;
  height: 600px;
  margin-inline: auto;
}/*# sourceMappingURL=main.css.map */